.home {
  .content-welcome {
    border-bottom: 2px dashed @navigation-border;
    h1 {
      margin-top: 0.7rem;
    }
  }
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;
      @media (max-width: 500px) {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media (max-width: 500px) {
        width: 100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media (max-width: 500px) {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media (max-width: 500px) {
      width: 95%;
    }
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media (max-width: 500px) {
        width: 100%;
      }
      .btn{
        padding: 10px;
        background-color: @eastern-blue;
        border-radius: 5px;
        font-size: 2rem;
        text-align: center;
        color: @white;
      }
    }
  }
} // home
